.upgrade-btn {
    width: 350px;
    height: 100px;
    flex-grow: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("project://database/Assets/04.Sprites/UI/YellowButton.png?fileID=21300000&guid=9ba467b00eef0cc4584672d4249d4838&type=3#YellowButton");
    background-color: rgba(188, 188, 188, 0);
    border-left-color: rgba(149, 149, 149, 0);
    border-right-color: rgba(149, 149, 149, 0);
    border-top-color: rgba(149, 149, 149, 0);
    border-bottom-color: rgba(149, 149, 149, 0);
}

.base-btn {
    width: 50%;
    height: 65%;
    background-image: url("project://database/Assets/04.Sprites/UI/YellowButton.png?fileID=21300000&guid=9ba467b00eef0cc4584672d4249d4838&type=3#YellowButton");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
