.top-container {
    height: 350px;
    margin-top: 5%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#gaugebar > #unity-progress-bar {
    max-height: 100%;
    background-image: url('project://database/Assets/04.Sprites/UI/star_bar_grey.png?fileID=21300000&guid=2d20a056e6f59a0408b0d58d266c36b9&type=3#star_bar_grey');
    flex-grow: 1;
}

#gaugebar > #unity-progress-bar > VisualElement {
    background-image: url("project://database/Assets/04.Sprites/UI/star_bar_gray.png?fileID=21300000&guid=b1d97a10b8496f1428eeaf85122a6326&type=3#star_bar_gray");
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

#gaugebar > #unity-progress-bar > VisualElement > .unity-progress-bar__progress {
    background-image: url("project://database/Assets/04.Sprites/UI/star_bar_color.png?fileID=21300000&guid=eca9da2f1aa365042ac201c38e35ab6e&type=3#star_bar_color");
    background-color: rgba(0, 0, 0, 0);
}

#gaugebar > #unity-progress-bar > VisualElement > .unity-progress-bar__title-container > Label {
    bottom: -4%;
}

.star-icon {
    width: 120px;
    height: 120px;
    overflow: visible;
    left: -60px;
    background-image: url("project://database/Assets/04.Sprites/UI/Icon/star_icon.png?fileID=21300000&guid=c935a904c587f2649937d4175657b00f&type=3#star_icon");
    position: absolute;
    align-items: center;
    justify-content: center;
}

.level-bar {
    flex-direction: row-reverse;
    align-items: center;
    height: 17%;
    justify-content: flex-end;
    flex-grow: 1;
}

.gauge-bar {
    width: 80%;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    background-image: url('project://database/Assets/04.Sprites/UI/star_bar.png?fileID=21300000&guid=d39c9b4031118474ca4227acb0fe1111&type=3#star_bar');
}

.left-border {
    width: 22%;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
}

.middle-border {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.right-border {
    width: 22%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
}

.good-border {
    width: 90%;
    height: 28%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    -unity-font-definition: initial;
    -unity-font: url("project://database/Assets/10.Fonts/Rix%20X%20ladywatermelon%20Regular.ttf?fileID=12800000&guid=060932080ae844041bd53088467dfd1f&type=3#Rix X ladywatermelon Regular");
    width: 55%;
    height: 41%;
    margin-left: 30px;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.icon {
    width: 80px;
    height: 80px;
    margin-left: 12px;
}
