.btn-middle-array_30 {
    -unity-text-align: middle-center;
    font-size: 30px;
    -unity-font: url("project://database/Assets/10.Fonts/WavvePADO-Regular.otf?fileID=12800000&guid=1a298fea68beaa44585f562356eb1e08&type=3#WavvePADO-Regular");
    -unity-font-definition: initial;
    color: rgb(47, 47, 47);
    flex-grow: 1;
    width: 100%;
}

.btn-middle-array_50 {
    -unity-text-align: middle-center;
    font-size: 50px;
    -unity-font: url("project://database/Assets/10.Fonts/WavvePADO-Regular.otf?fileID=12800000&guid=1a298fea68beaa44585f562356eb1e08&type=3#WavvePADO-Regular");
    -unity-font-definition: initial;
    color: rgb(47, 47, 47);
    width: 100%;
    flex-grow: 1;
    bottom: 5%;
}

.btn-middle-array_55 {
    -unity-text-align: middle-center;
    font-size: 55px;
    -unity-font: url("project://database/Assets/10.Fonts/WavvePADO-Regular.otf?fileID=12800000&guid=1a298fea68beaa44585f562356eb1e08&type=3#WavvePADO-Regular");
    -unity-font-definition: initial;
    color: rgb(47, 47, 47);
    width: 100%;
    flex-grow: 1;
    bottom: 5%;
}

.btn-middle-array_60 {
    -unity-text-align: middle-center;
    font-size: 60px;
    -unity-font: url("project://database/Assets/10.Fonts/WavvePADO-Regular.otf?fileID=12800000&guid=1a298fea68beaa44585f562356eb1e08&type=3#WavvePADO-Regular");
    -unity-font-definition: initial;
    color: rgb(47, 47, 47);
    flex-grow: 1;
    width: 100%;
}

.btn-middle-array_65 {
    -unity-text-align: middle-center;
    font-size: 65px;
    -unity-font: url("project://database/Assets/10.Fonts/WavvePADO-Regular.otf?fileID=12800000&guid=1a298fea68beaa44585f562356eb1e08&type=3#WavvePADO-Regular");
    -unity-font-definition: initial;
    color: rgb(47, 47, 47);
    flex-grow: 1;
    width: 100%;
}

.text_middle-array_100 {
    -unity-font: url("project://database/Assets/10.Fonts/WavvePADO-Regular.otf?fileID=12800000&guid=1a298fea68beaa44585f562356eb1e08&type=3#WavvePADO-Regular");
    -unity-font-definition: initial;
    font-size: 100px;
    -unity-text-align: middle-center;
    flex-grow: 1;
    color: rgb(47, 47, 47);
}

.text_middle-array_40 {
    -unity-text-align: middle-center;
    font-size: 40px;
    -unity-font: url("project://database/Assets/10.Fonts/WavvePADO-Regular.otf?fileID=12800000&guid=1a298fea68beaa44585f562356eb1e08&type=3#WavvePADO-Regular");
    -unity-font-definition: initial;
    flex-grow: 1;
    color: rgb(47, 47, 47);
}

.text_middle-array_45 {
    -unity-text-align: middle-center;
    font-size: 45px;
    -unity-font: url("project://database/Assets/10.Fonts/WavvePADO-Regular.otf?fileID=12800000&guid=1a298fea68beaa44585f562356eb1e08&type=3#WavvePADO-Regular");
    -unity-font-definition: initial;
    flex-grow: 1;
    color: rgb(47, 47, 47);
}

.text_middle-array_50 {
    -unity-text-align: middle-center;
    font-size: 50px;
    -unity-font: url("project://database/Assets/10.Fonts/WavvePADO-Regular.otf?fileID=12800000&guid=1a298fea68beaa44585f562356eb1e08&type=3#WavvePADO-Regular");
    -unity-font-definition: initial;
    flex-grow: 1;
    color: rgb(47, 47, 47);
}

.text_middle-array_70 {
    -unity-text-align: middle-center;
    font-size: 70px;
    -unity-font: url("project://database/Assets/10.Fonts/WavvePADO-Regular.otf?fileID=12800000&guid=1a298fea68beaa44585f562356eb1e08&type=3#WavvePADO-Regular");
    -unity-font-definition: initial;
    color: rgb(47, 47, 47);
}

.text_middle-array_90 {
    -unity-font: url("project://database/Assets/10.Fonts/WavvePADO-Regular.otf?fileID=12800000&guid=1a298fea68beaa44585f562356eb1e08&type=3#WavvePADO-Regular");
    -unity-font-definition: initial;
    font-size: 90px;
    -unity-text-align: middle-center;
    flex-grow: 1;
    color: rgb(47, 47, 47);
}
