.middle-array_50 {
    -unity-text-align: middle-center;
    font-size: 50px;
    flex-grow: 1;
    -unity-font: url("project://database/Assets/10.Fonts/Rix%20X%20ladywatermelon%20Regular.ttf?fileID=12800000&guid=060932080ae844041bd53088467dfd1f&type=3#Rix X ladywatermelon Regular");
    -unity-font-definition: initial;
}
