.upgrade-gauge {
    width: 18%;
    height: 100%;
    background-image: url("project://database/Assets/04.Sprites/UI/WhiteRoundSquare.png?fileID=21300000&guid=4e1c0ea700845c54c8cede4760dfe8ac&type=3#WhiteRoundSquare");
}

.upgrade-gauge.off {
    width: 18%;
    height: 100%;
    background-image: url("project://database/Assets/04.Sprites/UI/WhiteRoundSquare.png?fileID=21300000&guid=4e1c0ea700845c54c8cede4760dfe8ac&type=3#WhiteRoundSquare");
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.49);
}

.upgrade-icon {
    width: 350px;
    height: 350px;
}

.upgrade-content {
    width: 350px;
    height: 30px;
    flex-direction: row;
    justify-content: space-between;
}

.upgrade-panel {
    width: 400px;
    height: 80%;
    background-color: rgb(198, 255, 178);
    margin-bottom: 40px;
}
